{% load i18n%}

{% block subject%}
{% blocktrans%} Restaurant POS - Your password has been successfully changed! {% endblocktrans%}
{% endblock%}

{% block text_body%}
{% trans "Your password has been changed!" %}

{% trans "Thank you for using our website!" %}

{% blocktrans%} The Restaurant POS team {% endblocktrans%}
{% endblock text_body%}

{% block html_body%}
<p> {% trans "Your password has been changed!" %} </p>

<p> {% trans "Thank you for using our website!" %} </p>

<p> {% blocktrans%} The Restaurant POS team {% endblocktrans%} </p>
{% endblock html_body%}