{% load i18n%}

{% block subject%}
{% blocktrans%} I forgot my password at Restaurant POS system {% endblocktrans%}
{% endblock subject%}

{% block text_body%}
{% blocktrans%} You received this email for requesting a password reset on Restaurant POS system. {% endblocktrans%}

{% trans "Please paste the link below into a browser and enter a new password"%}

{% trans "If you forget, your user is:"%} {{ first_name }}

{% trans "Thank you for using our website!" %}

{% blocktrans%} The Restaurant POS system team {% endblocktrans%}
{% endblock text_body%}

{% block html_body%}
<p> {% blocktrans%} You received this email for requesting a password reset on Restaurant POS system. {% endblocktrans%} </p>

<p> {% trans "Please click on the link below and enter a new password:"%} </p>
<a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
<p> {% trans "If you have forgotten, your user is:"%} <b> {{ first_name }} </b> </p>

<p> {% trans "Thank you for using our website!" %} </p>

<p> {% blocktrans%} The Restaurant POS team {% endblocktrans%} </p>
{% endblock html_body%}